@inherits LayoutComponentBase


<MudThemeProvider />
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

    <script src="https://kit.fontawesome.com/a250413ada.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<div class="page">
      <AuthorizeView>
        <Authorized> 
            <div class="sidebar">
                <Sidebar />
            </div>
          </Authorized>
        <NotAuthorized>
            @{
                NavManager.NavigateTo("/authentication/login");
            }
        </NotAuthorized>
    </AuthorizeView> 
    

    <main>
        <AuthorizeView>
            <Authorized>
                @* <div class="top-row px-6">
                    <MudMenu FullWidth="true" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                            <MudChip T="string" Icon="fas fa-user" Color="Color.Primary">Hello, @context.User.Identity?.Name!</MudChip>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem>Profile</MudMenuItem>
                            <MudMenuItem @onclick="LogoutClicked">Sign Out</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </div> *@

                    <MudAppBar Color="Color.Primary" Fixed="false">
                        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
                    <MudChip T="string" Icon="fas fa-user" Color="Color.Primary">Hello, @context.User.Identity?.Name!</MudChip>
                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />
                    </MudAppBar>
            </Authorized>
        </AuthorizeView>
         

        <article class="content px-4">
            <MudLayout>
                @Body
            </MudLayout>
            
        </article>
    </main>
</div>




<MudThemeProvider Theme="MyCustomTheme" />

@code {
    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
    MudTheme MyCustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = "#4D774E",
                Secondary = Colors.Green.Accent4,
                AppbarBackground = "#4D774E",

            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}

