@page "/Foods"
@using Client.Pages.OtherPages

<MudTable Dense="@dense" Hover="@hover" ReadOnly="@ronly" CanCancelEdit="@canCancelEdit"
          CommitEditTooltip="Commit Edit"
          RowEditPreview="BackupItem"
          RowEditCancel="ResetItemToOriginalValues"
          RowEditCommit="ItemHasBeenCommitted"
          IsEditRowSwitchingBlocked="@blockSwitch"
          ApplyButtonPosition="@applyButtonPosition"
          EditButtonPosition="@editButtonPosition"
          EditTrigger="@editTrigger"
          FixedHeader="@fixed_header"
          Loading="@loading"
          ServerData="ServerReload"
          @ref="table"
          Height="@(fixed_header ?"710px":"")">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Food List</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="Add food" Size="Size.Medium" @onclick="OpenDialogAsync" />
    </ToolBarContent>

    <ColGroup>
        @if (applyButtonPosition.DisplayApplyButtonAtStart() || (editButtonPosition.DisplayEditButtonAtStart() && editTrigger == TableEditTrigger.EditButton))
        {
            <col style="width:50px;" />
        }
        <col style="width:50px;" />
        <col style="width:50%;" />
        <col style="width:50%;" />
        <col style="width:50%;" />
        @if (applyButtonPosition.DisplayApplyButtonAtEnd() || (editButtonPosition.DisplayEditButtonAtEnd() && editTrigger == TableEditTrigger.EditButton))
        {
            <col style="width:50px;" />
        }
    </ColGroup>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="id_field" T="FoodsDTO">ID</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="name_field" T="FoodsDTO">Food Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="ingredients" T="FoodsDTO">Ingredients</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="allergy" T="FoodsDTO">Allergy</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="calorie_field" T="FoodsDTO">Calorie</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="protein_field" T="FoodsDTO">Protein</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="fat_field" T="FoodsDTO">Fat</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="carbohydrate_field" T="FoodsDTO">Carbohydrate</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="ID">@context.Food_Id</MudTd>
            <MudTd DataLabel="Food Name">@context.Food_Name</MudTd>
        <MudTd DataLabel="Ingredient">
            @foreach (var ingredient in context.selectedIngredients!)
            {
                <div>@ingredient</div>
            }
        </MudTd>
        <MudTd DataLabel="Allergy">
            @foreach (var allergy in context.selectedAllergy!)
            {
                <div>@allergy</div>
            }
        </MudTd>
        <MudTd DataLabel="Calorie">@context.Calorie.ToString("F2")</MudTd>
        <MudTd DataLabel="Protein">@context.Protein.ToString("F2")</MudTd>
        <MudTd DataLabel="Fat">@context.Fat.ToString("F2")</MudTd>
        <MudTd DataLabel="Carbohydrate">@context.Carbohydrate.ToString("F2")</MudTd>
        <MudTd><MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="@(async () => await DeleteFoodAsnyc(@context.Food_Id))" /></MudTd>
    </RowTemplate>

        <RowEditingTemplate>
            <MudTd DataLabel="ID"> @context.Food_Id </MudTd>
            <MudTd DataLabel="food Name"> <MudTextField @bind-Value="context.Food_Name" Required /> </MudTd>
            <MudTd DataLabel="Calorie"> @context.Calorie.ToString("F2") </MudTd>
            <MudTd DataLabel="Protein"> @context.Protein.ToString("F2") </MudTd>
            <MudTd DataLabel="Fat"> @context.Fat.ToString("F2") </MudTd>
            <MudTd DataLabel="Carbohydrate"> @context.Carbohydrate.ToString("F2") </MudTd>
        </RowEditingTemplate>

     <NoRecordsContent>
         <MudText>No matching records found</MudText>
     </NoRecordsContent>
     <LoadingContent>
         <MudText>Loading...</MudText>
     </LoadingContent>
     <PagerContent>
         <MudTablePager />
     </PagerContent>
     <EditButtonContent Context="button">
         <MudFab Color="Color.Info" Size="@Size.Small" StartIcon="@Icons.Material.Filled.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
     </EditButtonContent>

 </MudTable>

    @code {
    private List<string> editEvents = new();
    private bool dense = false;
    private bool hover = true;
    private bool ronly = false;
    private bool canCancelEdit = true;
    private bool blockSwitch = false;
    private bool fixed_header = true;
    private bool loading = false;

    private FoodsDTO elementBeforeEdit;
    private TableApplyButtonPosition applyButtonPosition = TableApplyButtonPosition.End;
    private TableEditButtonPosition editButtonPosition = TableEditButtonPosition.End;
    private TableEditTrigger editTrigger = TableEditTrigger.EditButton;


    private IEnumerable<FoodsDTO> allergies = new List<FoodsDTO>();
    private MudTable<FoodsDTO> table;
    private int totalItems;
    private string searchString = null;
    IEnumerable<FoodsDTO> data = new List<FoodsDTO>();

    private async Task<TableData<FoodsDTO>> ServerReload(TableState state, CancellationToken token)
    {
        data = await foodService.GetAll(Constants.foodBaseUrl);

        await Task.Delay(300, token);
        data = data.Where(element =>
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (element.Food_Name!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            return false;
        }).ToArray();
        totalItems = data.Count();
        switch (state.SortLabel)
        {
            case "name_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Food_Name);
                break;
            case "id_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Food_Name);
                break;
        }

        allergies = data.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new TableData<FoodsDTO>() { TotalItems = totalItems, Items = allergies };
    }

    private async Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true};
        var dialog = DialogService.Show<AddFoodDialog>("Add food", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await table.ReloadServerData();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
            Snackbar.Add("Successfully added food!", Severity.Success);
        }
    }

    private async Task DeleteFoodAsnyc(int food_id)
    {
        var parameters = new DialogParameters<DeleteDialog>
        {
            {x => x.ContentText, "Do you really want to delete these records? This process cannot be undone."},
            {x => x.ButtonText, "Delete"},
            {x => x.Color, Color.Error},
        };

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = DialogService.Show<DeleteDialog>("Delete food", parameters, options);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await foodService.Delete(food_id, Constants.foodBaseUrl);
            await table.ReloadServerData();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
            Snackbar.Add("Food successfully deleled!", Severity.Error);
        }
    }


    private void BackupItem(object food)
    {
        elementBeforeEdit = new FoodsDTO
            {
                Food_Id = ((FoodsDTO)food).Food_Id,
                Food_Name = ((FoodsDTO)food).Food_Name,
                Calorie = ((FoodsDTO)food).Calorie,
                Protein = ((FoodsDTO)food).Protein,
                Fat = ((FoodsDTO)food).Fat,
                Carbohydrate = ((FoodsDTO)food).Carbohydrate
            };
    }

    private void ItemHasBeenCommitted(object food)
    {
        foodService.Update(((FoodsDTO)food), Constants.foodBaseUrl);
        StateHasChanged();
    }


    private void ResetItemToOriginalValues(object food)
    {
        ((FoodsDTO)food).Food_Name = elementBeforeEdit.Food_Name;
    }


    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }

}
